@import "./root";
@import "./normalized";
@import "./utils";

.navigation {
  //   background-color: beige;
  display: flex;
  width: 100%;
  //   height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1.1rem;
  @media only screen and (min-width: $mobile-view) {
    padding: 2rem 3rem;
  }

  &_logo {
    width: fit-content;

    img {
      width: 120px;
      @media only screen and (min-width: $mobile-view) {
        width: 140px;
      }
    }
  }
  .nav-button {
    border: $light-pink 2px solid;
    border-radius: 20px;
    padding: 0.3rem 1.2rem;
    color: $light-pink;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      box-shadow: -1px -1px 15px 1px rgba(255, 143, 216, 0.59);
      -webkit-box-shadow: -1px -1px 15px 1px rgba(255, 143, 216, 0.59);
      -moz-box-shadow: -1px -1px 15px 1px rgba(255, 143, 216, 0.59);
    }
    @media only screen and (min-width: $mobile-view) {
      font-size: 1.1rem;
    }
  }
}

.header {
  @media only screen and (min-width: $mobile-view) {
    margin-bottom: 90px;
  }

  .tag-line {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 25px;
    font-weight: $heading-font-weight;
    text-align: center;
    font-size: 1.6rem;
    @media only screen and (min-width: $mobile-view) {
      margin-top: 120px;
      font-size: 2.8rem;
    }
  }
  p {
    @media only screen and (min-width: $mobile-view) {
      width: 30%;
    }
  }
  .stats {
    @media only screen and (min-width: $mobile-view) {
      // margin-top: ;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 250px;
    }
    .communities {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      text-align: center;
      margin-top: 90px;

      & p {
        @media only screen and (min-width: $mobile-view) {
          width: max-content;
        }
      }
      .communities_number {
        font-size: 4.9rem;
        font-weight: $body-font-weight-600;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;

        &::before {
          content: "";
          display: block;
          background-image: url("../images/icon-communities.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 40px;
          height: 40px;
        }
      }
      .communities_tag_line {
        margin: 0 auto;
        font-size: 1.1rem;
      }
    }
    .message {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      text-align: center;
      margin-top: 90px;
      & p {
        @media only screen and (min-width: $mobile-view) {
          width: max-content;
        }
      }
      .message_number {
        font-size: 4rem;
        font-weight: $body-font-weight-600;
        margin-top: 0;
        margin-bottom: 0;
        @media only screen and (min-width: $mobile-view) {
          font-size: 4.9rem;
        }

        &::before {
          content: "";
          display: block;
          background-image: url("../images/icon-messages.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 40px;
          height: 40px;
        }
      }
      .message_tag_line {
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }
}

.grow {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: #f6fbff;
  margin-bottom: 100px;
  .grow_content {
    @media only screen and (min-width: $mobile-view) {
      // display: flex;
      // flex-direction: column;
      width: 50%;
      // margin-left: auto;
      // margin-right: auto;
      padding-left: 8rem;
    }
    .grow_content_heading {
      @media only screen and (min-width: $mobile-view) {
        width: 100%;
        margin-left: 0;
        text-align: left;
      }
    }
    .grow_content_paragraph {
      @media only screen and (min-width: $mobile-view) {
        width: 60%;
        margin: 0;
        text-align: left;
      }
    }
  }

  .grow_image {
    @media only screen and (min-width: $mobile-view) {
      width: 50%;
    }
  }
  @media only screen and (min-width: $mobile-view) {
    flex-direction: row;
    align-items: center;
    height: 300px;
    //
    // background-color: yellowgreen;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25%;
    top: -25%;
    background-image: url("../images/bg-section-top-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    background-position: bottom;
    background-size: cover;

    @media only screen and (min-width: $mobile-view) {
      background-image: url("../images/bg-section-top-desktop-1.svg");
      background-size: cover;
      width: 100%;
      height: 60%;
      top: -60%;
      // background-color: red;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25%;
    bottom: -25%;
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto auto;
    background-size: contain;
    @media only screen and (min-width: $mobile-view) {
      z-index: -20;
      background-image: url("../images/bg-section-bottom-desktop-1.svg");
      background-size: cover;
      width: 100%;
      height: 50%;
      bottom: -50%;
      // background-color: red;
    }
  }

  .grow_image {
    img {
      margin: 30px auto;
    }
  }
}

.flowing {
  @media only screen and (min-width: $mobile-view) {
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 300px;
  }
  .flowing_image {
    margin-bottom: 60px;
    @media only screen and (min-width: $mobile-view) {
      width: 50%;
      margin: 0;
    }
  }
  .flowing_content {
    @media only screen and (min-width: $mobile-view) {
      width: 40%;
    }
    .flowing_content_heading {
      @media only screen and (min-width: $mobile-view) {
        width: 100%;
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    .flowing_content_paragraph {
      margin-top: 6px;
      @media only screen and (min-width: $mobile-view) {
        width: 70%;
        text-align: left;
        margin: 0;
        // padding-right: 1rem;
      }
    }
  }
  // margin-bottom: 500px;
}

.users {
  margin-top: 170px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: #f6fbff;
  padding-top: 20px;
  margin-bottom: 150px;

  @media only screen and (min-width: $mobile-view) {
    margin-top: 250px;
    flex-direction: row;
    align-items: center;
    height: 300px;
    //
    // background-color: yellowgreen;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25%;
    top: -25%;
    background-image: url("../images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    background-position: bottom;
    background-size: cover;
    @media only screen and (min-width: $mobile-view) {
      background-image: url("../images/bg-section-top-desktop-2.svg");
      background-size: cover;
      width: 100%;
      height: 60%;
      top: -60%;
      // background-color: red;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25%;
    bottom: -25%;
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto auto;
    background-size: contain;
    @media only screen and (min-width: $mobile-view) {
      z-index: -20;
      background-image: url("../images/bg-section-bottom-desktop-2.svg");
      background-size: cover;
      width: 100%;
      height: 50%;
      bottom: -50%;
      // background-color: red;
    }
  }

  @media only screen and (min-width: $mobile-view) {
    // padding: 0 20%;
    // padding-left: 10rem;
    // padding-right: 10rem;
  }
  .users_content {
    // @media only screen and (min-width: $mobile-view) {
    //   // padding: 1rem 1rem;
    //   // width: 260px;
    // }

    .users_content_heading {
      @media only screen and (min-width: $mobile-view) {
        width: 45%;
        text-align: left;
        margin-left: 8rem;
        margin-bottom: 10px;
      }
    }
    .users_content_paragraph {
      @media only screen and (min-width: $mobile-view) {
        // padding: 1rem 1rem;
        // width: 260px;
        margin-top: 0px;
        width: 45%;
        text-align: left;
        margin-left: 8rem;
      }
    }
  }
}

.build {
  @media only screen and (min-width: $mobile-view) {
    margin-top: 200px;
  }
  h3 {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
  }
  .community_button {
    margin-top: 35px;
  }
  margin-bottom: 200px;
}

.footer {
  background-color: $very-dark-cyan;
  color: $very-pale-blue;
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  gap: 80px;

  @media only screen and (min-width: $mobile-view) {
    padding-top: 50px;
    flex-direction: row;
    // height: 600px;
  }
  .about-and-contact {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: $mobile-view) {
      // flex-direction: row;
      // height: 600px;
      width: 20%;
    }
    img {
      width: 120px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .about-and-contact_paragraph {
      text-align: left;
      width: 100%;
      margin: 0;
    }
    .about-and-contact_phone {
      width: max-content;
      text-align: left;
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 10px;
      position: relative;
      margin-left: 35px;
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-image: url("../images/icon-phone.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        left: -35px;
        top: 2.5px;
      }
    }
    .about-and-contact_email {
      width: max-content;
      text-align: left;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 15px;
      position: relative;
      margin-left: 35px;
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-image: url("../images/icon-email.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        left: -35px;
        top: 2.5px;
      }
    }

    .about-and-contact_social_icons {
      display: flex;
      width: 40%;
      //   gap: ;
      justify-content: space-between;
      margin-top: 20px;

      i {
        // width: 20px;
        font-size: 2rem;
        cursor: pointer;
        // color: black;
        transition: all 0.3s ease 0s;
        &:hover {
          color: hsl(210, 79%, 64%);
        }
      }
      margin-bottom: 40px;
    }
  }
  .newsletter {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: $mobile-view) {
      // flex-direction: row;
      // height: 600px;
      width: 25%;
    }
    .newsletter_title {
      margin-top: 40px;
      width: 100%;
      text-align: left;
      font-size: 1.2rem;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    .newsletter_paragraph {
      text-align: left;
      width: 100%;
    }
    .newsletter_input {
      margin-top: 20px;
      display: flex;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      gap: 10px;
      //   justify-content: flex-end;
      input[type="text"],
      input[type="text"]:focus {
        height: 2.6rem;
        border-radius: 5px;
        // outline-width: 2px;
        // outline: green;
        // border: 4px solid yellowgreen;
        outline: none;
        // input:focus {
        // }
      }
      .newsletter_submit_button {
        background-color: $pink;
        width: 130px;
        font-size: 0.9rem;
        padding: 0.7rem 0.9rem;
        text-align: center;
        border-radius: 5px;
        font-weight: $body-font-weight-600;
        margin-left: auto;
        margin-right: 0;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
          background-color: $light-pink;
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25%;
    top: -25%;
    background-image: url("../images/bg-footer-top-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    background-position: bottom;
    background-size: contain;

    @media only screen and (min-width: $mobile-view) {
      background-image: url("../images/bg-footer-top-desktop.svg");
      background-size: contain;
      width: 100%;
      height: 60%;
      top: -60%;
      // background-color: red;
    }
  }
}
